.animi-home .animi-left, .animi-home .animi-right, .animi-left, .animi-right {
  height: 300px;
  width: 25%; }

.animi-home .karakter-left, .animi-home .karakter-right, .karakter-left, .karakter-right {
  height: 200px;
  width: 150px; }

.animi-home, .animi-home .maps {
  margin-right: 50px;
  margin-left: 50px; }

.animi-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .animi-home .maps {
    width: 700px;
    height: 350px; }
  .animi-home .video {
    width: 40%;
    height: 300px; }
  .animi-home .animi-left {
    width: 25%;
    float: left; }
  .animi-home .animi-right {
    width: 25%;
    float: right; }
  .animi-home .karakter-left {
    float: left; }
  .animi-home .karakter-right {
    float: right; }

.animi-left {
  float: left;
  margin-left: 50px; }

.animi-right {
  float: right;
  margin-right: 50px; }

.karakter-left {
  float: left;
  margin-left: 100px;
  margin-bottom: 100px; }

.karakter-right {
  float: right;
  margin-right: 100px;
  margin-bottom: 100px; }

.animi-challenges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30px; }
  .animi-challenges .animi-left {
    width: 25%;
    margin-left: 50px; }
  .animi-challenges .animi-right {
    width: 25%;
    margin-right: 50px; }
