.btn {
    border: none;
    background: none;
}

.btn-inlog {
    height: 50px;
    width: 530px;
    margin-top: 15px;
}

.btn-register {
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-left: 35%;

}

.link {
    color: $extra-color;

}