.btn {
    border: none;
    background: none;
}

.btn-login {
    height: 2.1em;
    width: 96%;
    margin-top: 1%;
}

.btn-register {
    height: 50px;
    width: 140px;
    margin-top: 15px;
    margin-left: 35%;

}

.link {
    color: $extra-color;

}