%animi {
    height: 300px;
    width: 25%;
}

%karakter {
    height: 200px;
    width: 150px;
}

%position {
    margin-right: 50px;
    margin-left: 50px;
}


.animi-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %position;

    .maps {
        width: 700px;
        height: 350px;
        @extend %position;
    }

    .video {
        width: 40%;
        height: 300px;
    }

    .animi-left {
        @extend %animi;
        width: 25%;
        float: left;
    }

    .animi-right {
        @extend %animi;
        width: 25%;
        float: right;
    }

    .karakter-left {
        @extend %karakter;
        float: left;
    }

    .karakter-right {
        @extend %karakter;
        float: right;
    }
}

.animi-left {
    @extend %animi;
    float: left;
    margin-left: 50px;
}

.animi-right {
    @extend %animi;
    float: right;
    margin-right: 50px;
}

.karakter-left {
    @extend %karakter;
    float: left;
    margin-left: 100px;
    margin-bottom: 100px;
}

.karakter-right {
    @extend %karakter;
    float: right;
    margin-right: 100px;
    margin-bottom: 100px;
}

.animi-challenges {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .animi-left {
        width: 25%;
        margin-left: 50px;
    }

    .animi-right {
        width: 25%;
        margin-right: 50px;
    }
}