.header {
    background-color: $primary-color;
    width: 100%;
    height: 70px;
    flex-direction: row;
    position: relative;
    border-bottom: 5px solid black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-bottom: 5px solid black;
    padding: 70px 30px;
}

.logo {
    height: 50PX;
}

// link style
.register {
    float: right;
    height: 50px;
    margin-top: -30px;
    order: -1;
}


#navbar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    overflow: hidden;
    margin-top: -35px;
    margin: 0;
    .btn {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 0px 30px;
        display: inline-block;
    }

    /* Style the active class, and buttons on mouse-over */
    .active,
    .btn:hover {
        background-image: url('/Assets\ website/Hovernavbar.png');
        background-repeat: no-repeat;
        padding: 15px 30px;
    }

    a {
        text-decoration: none;
        padding: 5px 15px;
        color: $textcolor;
        font-size: 25px;
        font-family: $head-font;
        font-weight: bold;
    }
}
