  /* Adjustments for screens smaller than 1200px wide */

  @media only screen and (max-width: 1200px) {

      // Header and navigation menu
      .header {
          padding: 20px;
          height: auto;
          flex-direction: column;
          align-items: center;

          .logo {
              float: none;
              margin: 0 auto;
              margin-bottom: 10px;
          }

          #navbar {
              margin-right: 5%;
              flex-direction: column;
              margin-top: 10px;
          }

          .register {
              float: none;
              margin-top: 10px;
              margin-left: -10%;

          }
      }

      //code for All platform
      .btn {
          padding: 10px 15px;
      }

      .logo2 {
          height: auto;
          width: 25%;
      }

      h1,
      h2,
      h3,
      h4 {
          text-align: center;
          font-size: 30px;
      }

      .animi-home {
          input {
              width: 10px;
          }
      }

      //The form in the Persoonlijke page
      .aanpassen-form {
          .btn img {
              margin-left: 60%;
              width: 140px;
              margin-top: 0px;
          }
      }

      /* Challanges page */
      .image-menu {
          .image-item img {
              height: 75px;
              margin-left: 0%;
          }

          .image-item .info {
              width: 77%;
              height: auto;
              margin-left: 8%;
          }
      }

      /* Contact onse page*/
      .animi-home {
          .contanier {
              flex-direction: column;
              align-items: center;

              .contact {
                  width: 100%;
                  float: none;
                  margin: 0;
              }

              .contact-form {
                  padding: 0.5em 20px;
                  width: 100%;
                  float: none;

                  .input[type=text] {
                      padding: 0.5em;
                      height: auto;
                      margin-right: 5%;
                      margin-bottom: 2%;
                  }

                  .small-input {
                      width: 40%;
                      margin-bottom: 2%;
                  }

                  .larg-input {
                      width: 80%;
                      margin-bottom: 2%;
                  }

                  .textarea {
                      width: 80%;
                      height: auto;
                  }
              }

          }

      }

      //buttons in login form
      .animi-home {
          .login-form {
              .btn-register {
                  margin-left: 30%;
                  width: 125px;
              }

              .btn-login {
                  height: 2em;
                  width: 98%;
              }
          }
      }

      //the map in contact page
      .animi-home {
          .maps {
              width: 40%;
              height: 350px;
              margin-left: 1%;
              margin-right: 1%;
          }
      }


      //the form in rigestreren page
      .animi-home {
          .register-form {
              font-size: 16px;
              width: 50%;
              margin-right: 1%;
              margin-left: 1%;

              .input[type=text] {
                  padding: 0.5em;
                  height: auto;
                  margin-right: 5%;
                  margin-bottom: 2%;
              }

              .small-input {
                  width: 40%;
                  margin-bottom: 2%;
              }

              .larg-input {
                  width: 80%;
                  margin-bottom: 2%;
              }

              img {
                  width: 100px;
                  margin-left: 25%;
                  margin-top: 3%;
              }
          }
      }

  }

  /* Adjustments for screens smaller than 900px wide */
  @media only screen and (max-width: 900px) {

      //Header and navigation menu
      .header {
          height: auto;
          flex-direction: column;
          align-items: center;
          padding: 10px;

          .logo {
              float: none;
              margin: 0 auto;
              margin-bottom: 10px;
          }

          #navbar {
              margin-right: 2%;
              flex-direction: column;
              margin-top: 10px;
          }

          .register {
              float: none;
              margin: 10px auto;
              margin-top: 10px;
          }
      }

      //overons button in the home page
      .btn-home {
          padding: 0 150px;

          img {
              height: 70px;
          }
      }

      //code for All platform
      .text {
          width: 80%;
          margin-left: 5%;
          margin-right: 5%;
      }

      .logo2 {
          height: 120px;
          width: 25%;
      }

      h1,
      h2,
      h3,
      h4 {
          text-align: center;
          font-size: 28px;
      }

      .animi-home {
          .animi-right {
              height: 250px;
              margin-right: 3%;
          }

          .animi-left {
              height: 250px;
              margin-left: 3%;
          }
      }

      .psw .link {
          font-size: 18px;
      }

      //input punten in Persoonlijke page
      .animi-home .points-form input {
          width: 300px;
      }

      //buttons in login form
      .animi-home {
          .login-form {
              .btn-register {
                  margin-left: 25%;
                  width: 120px;
              }

              .btn-login {
                  height: 2em;
                  width: 200px;
              }

              .input [type=checkbox] {
                  font-size: 16px;
              }
          }
      }

      .aanpassen-form .btn img {
          margin-left: 50%;
          width: 120px;
      }

      //for challanges page
      .image-menu {
          .image-item img {
              height: 65px;
              margin-left: 0%;

          }

          .info {
              width: 89%;
              height: auto;
              margin-left: 8%;
          }
      }

      /*contact ons page*/
      .animi-home .contanier {
          flex-direction: column;
          align-items: center;

          .contact {
              width: 100%;
              float: none;
              margin: 0;
          }

          .contact-form {
              padding: 0.5em 20px;
              width: 100%;
              float: none;

              .input[type=text] {
                  padding: 0.5em;
                  height: auto;
                  margin-right: 5%;
                  margin-bottom: 2%;
              }

              .small-input {
                  width: 40%;
                  margin-bottom: 2%;
              }

              .larg-input {
                  width: 50%;
                  margin-bottom: 2%;
              }

              .textarea {
                  width: 80%;
                  height: auto;
              }
          }
      }

      //the form in rigestreren page
      .animi-home {
          .register-form {
              font-size: 16px;
              width: 50%;
              margin-right: 1%;
              margin-left: 1%;

              .input {
                  padding: 0.5em;
                  height: auto;
                  margin-right: 5%;
                  margin-bottom: 2%;
              }

              .small-input {
                  width: 40%;
                  margin-bottom: 2%;
              }

              .larg-input {
                  width: 80%;
                  margin-bottom: 2%;
              }

              img {
                  width: 100px;
                  margin-left: 18%;
                  margin-top: 3%;
              }
          }
      }


      .animi-home .maps {
          width: 33%;
          height: 300px;
          margin-left: 1%;
          margin-right: 1%;
      }


  }


  /*Adjustments for screens smaller than 600px wide*/
  @media only screen and (max-width: 600px) {

      // Header and navigation menu
      .header {
          height: auto;
          flex-direction: column;
          align-items: center;
          padding: 10px;

          .logo {
              float: none;
              margin: 0 auto;
              margin-bottom: 10px;
          }

          .register {
              float: none;
              margin-left: -2%;
              margin-top: 10px;
          }
      }

      /*contact ons page*/
      .animi-home {
          .contanier {
              flex-direction: column;
              align-items: center;

              .contact {
                  width: 100%;
                  float: none;
                  margin: 0;
              }

              .contact-form {
                  padding: 0.5em 20px;
                  width: 100%;
                  float: none;

                  .input[type=text] {
                      padding: 0.5em;
                      height: auto;
                      margin-right: 5%;
                      margin-bottom: 2%;
                  }

                  .small-input {
                      width: 38%;
                      margin-bottom: 2%;
                  }

                  .larg-input {
                      width: 80%;
                      margin-bottom: 2%;
                  }

                  .textarea {
                      width: 80%;
                      height: auto;
                  }

                  img {
                      height: 45px;
                      width: 100px;
                  }

              }
          }
      }

      .animi-home .maps {
          width: 28%;
          height: 250px;
          margin-left: 1%;
          margin-right: 1%;
      }

      //code for All platform
      .animi-left {
          height: auto;
          width: 120px;
          margin-left: 0;
      }

      .animi-right {
          height: auto;
          width: 120px;
          margin-right: 0;
      }

      .btn {
          margin: 5px 0;
          font-size: 16px;
          padding: 8px 8px;
          font-size: 16px;
          width: 100%;
          text-align: center;
      }

      h1,
      h2,
      h3,
      h4 {
          text-align: center;
          font-size: 20px;
      }

      p {
          text-align: center;
          font-size: 14px;
      }

      .logo2 {
          height: auto;
          width: 25%;
      }

      .animi-home {
          margin-left: 1%;
          margin-right: 1%;

          .animi-left {
              height: auto;
              width: 120px;
              margin-left: 0;
          }

          .animi-right {
              height: auto;
              width: 120px;
              margin-right: 0;
          }

          .text {
              margin-top: 1%;
          }

      }

      .animi-challenges {
          display: flex;
          justify-content: space-between;
          margin-top: 3%;

          .animi-right {
              height: auto;
              width: 120px;
              margin-right: 0;
          }

          .animi-left {
              height: auto;
              width: 120px;
              margin-left: 0;
          }
      }

      .register img {
          width: 100%;
          height: 1.5em;
      }

      //overons button in the home page
      .btn-home {
          img {
              height: 60px;
          }
      }

      //for challanges page
      .image-menu {
          .image-item img {
              height: 50px;
              margin-left: 0%;
          }

          .image-item .info {
              width: 89%;
              height: auto;
              margin-left: 1%;
          }
      }


      ////for punten registreren page
      .points-form {
          img {
              height: 30px;
              margin-top: 10px;
          }

          label {
              margin-bottom: 10px;
              padding-top: 1.5em;
          }
      }

      //for personlijk page
      .animi-home .points-form input {
          width: 250px;
      }

      .aanpassen-form .btn img {
          margin-left: 0;
          width: 100px;
      }

      .popup1 .btn img {
          height: 2em;
      }

      // over ons page
      .btn-home img {
          height: 50px;
      }

      //for voortgang page
      .animi-home {
          .result {
              overflow-x: auto;
              width: 40%;

              th.td {
                  padding: 0.2em;
                  text-align: center;
                  height: 6px;
              }
          }

          .btn-home img {
              height: 80px;
          }

          //for login page
          .animi-home {
              .login-form {
                  width: 60%;

                  .input {
                      font-size: 16px;
                      width: 60%;
                  }

                  .btn-login {
                      height: auto;
                      width: 170px;
                  }

                  .btn-register {
                      margin-left: 25%;
                      width: 100px;
                  }

              }
          }

          // for rigesteren page
          .animi-home {
              .register-form {
                  margin-top: 0;
                  margin-right: -100px;

                  img {
                      width: 80px;
                      margin-left: 12%;
                      margin-top: 3%;
                  }

                  .form-row {
                      font-size: 14px;
                  }
              }
          }

          //popup for wachtwoord
          .popup .btn img {
              height: 2em;
          }
      }
  }