/* Define standard variables and values for website */
//-- colors
$bgcolor: white;
$heading-color: #707070;
$primary-color: #619E50;
$extra-color: #8EBF25;
$extra2-color: #E1D98D;
$transition-speed: 0.5s;
$hover-color: #d9c8a6;
$bg-tabel: #abc4a4;

//-- fonts
$body-font: 'HP Simplified light';
$nav-font: 'Noteworthy bold';
$head-font: 'Noteworthy light';
$p-font: 20px;
$fontsize: 25px;
$h1size: 40px;
$h2size: 30px;
$textcolor: #e2e2eb;
$textcolor2: black;
$textcolor3: $primary-color;